<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
 {{> navbar }}

    <!-- main header area -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side col -->
                    <div class="col-md-6 col-12 main_header_right">


                        <figure>
                            <img class="img-fluid" src="../images/img02.jpg" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span>Mern Stack developer</span> And totoCompany Manager</h1>
                        <a href="/weather"><button>About</button></a>
                    </div>
                    <!-- right side col -->

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- footer area -->



{{>script}}
</body>

</html>